* {
    font-family: Arial, "sans-serif";
    margin: 0;
    padding: 0;
}
:root{
    -webkit-font-smoothing: subpixel-antialiased;
}
html{
    background-color: #f6f6f6;
}
.body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


/*login and register page*/
.form {
    margin-top: -100px;
    height: max-content;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
}

.form form {
    padding: 10px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}
.left form{
    width: 100%;
}
input {
    border: none;
    background-color: #f1f1f1;
    border-radius: 4px;
    padding: 6px;
    margin: 5px 0 10px;
}

label {
    margin: 5px 0 0;
}

.submit-button {
    background-color: mediumseagreen;
    color: white;
    margin-top: 15px;
    font-size: 16px;
    width: 100%;
}
.submit-button:hover{
    background-color: #2e975d;
}
a {
    text-decoration: none;
}
a:visited{
    color: unset;
}
p {
    margin: 0 5px;
    text-align: center;
}

.links {
    color: orange;
}

.green {
    background-color: mediumseagreen !important;
}

.orange {
    background-color: orange !important;
}

/********************/


/*home page*/
.main{
    padding: 10px;
    background-color: white;
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
}
.left{
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img.home{
    width: 400px;
}
textarea{
    width: calc(100% - 20px);
    margin: 20px 0 0;
    border-style: none;
    outline: none;
    resize: none;
    background-color: #f1f1f1;
    border-radius: 6px;
    padding: 10px;
}
button{
    margin: 4px 0 15px;
    outline: none;
    border: none;
    border-radius: 16px;
    padding: 4px 8px;
}
button:hover{
    color: #ff7236;
}
.left button{
    bottom: 0;
}
.right{
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    text-align: start;
    padding: 20px;
}
.right p{
    padding: 0 10px 0;
    text-align: start;
    margin: 10px 0;
}
.item{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    transition: ease .2s;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.10);
}
.item p{
    transform: translateZ(0);
    backface-visibility: hidden;
}
.item:hover{
    background-color: #b1e3c8;
    transform: scale(1.006);
}
img.copy{
    height: 20px;
    padding: 10px 10px 0;
}
img.copy:hover{
    transform: scale(1.1);
}
.toast{
    position: fixed;
    bottom: -100%;
    right: 0;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    background-color: darkseagreen;
    color: white;
    transition: all .3s;
}
.toast.show{
    bottom: 0;
}
/********************/